{% extends "layout.html" %}
{% block title %}{{session['user'].username}} - Folders{% endblock %}
{% block head %}
  {{ super() }}

  <style>
    #main-section {
      background-color: rgba(0,0,0,0.2); 
      padding: 20px; 
      border-radius: 10px;
    }

    #folder-list {
      padding: 0px;
      list-style: none;
    }

    #folder-list li {
      display: inline-block;
      text-align: center;
      background-color: rgba(0,0,0,0.05);
      border-radius: 10px; 
      margin: 10px;
    }

    .folder-icon {
      width: 110px;
      height: auto;
    }
    
    .btn-go-folder {
      border: none; 
      background-color: transparent;
    }

    .btn-remove-folder {
      display: block;
      margin: 10px auto;
      font-size: small;
      border-radius: 10px;
    }
  </style>

{% endblock %}

{% block content %}
<div style="padding-top: 50px;">

  <section id="main-section">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{url_for('user-main-menu')}}">Folders</a>
        </li>
      </ol>
    </nav>
    
    {% if not folders %}
      <h1 class="text-centered text-white" style="margin: 50px auto;">
        No folders
      </h1>
    {% else %}
      <ol id="folder-list" class="d-flex flex-wrap justify-content-center">
        {% for folder in folders %}
          <li>
            <form action="{{url_for('folder-show')}}" method="GET">
              <input type="hidden" name="id_folder" value="{{folder.id}}">
              <button class="btn-go-folder" type="submit">
                  <img class="folder-icon" src="{{url_for('static', filename='img/folder-icon.png')}}" alt="Folder icon"><br>
                  <span class="text-white">{{folder.name}}</span><br>
              </button>
            </form>

            <form action="{{url_for('folder-delete')}}" method="POST" onsubmit="return confirm('Remove folder '+'{{folder.name|upper}}'+'?')">
              <input type="hidden" name="id_folder" value="{{folder.id}}">
              <button type="submit" class="btn btn-danger btn-remove-folder">
                <i class="fas fa-trash-alt"></i> Remove
              </button>
            </form>
          </li>
        {% endfor %}
      </ol>
    {% endif %}

    <button class="btn btn-success btn-add-folder-task" type="button" data-toggle="modal" data-target="#modal-create-folder">
      <i class="fas fa-plus-square"></i> Add folder
    </button>
    
    {% include "folder/modal-create-folder.html" %}

  </section>
</div>

{% endblock %}