<div class="modal fade" id="modal-create-task" tabindex="-1" aria-labelledby="modal-create-task-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="modal-create-task-label">Add new task</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form action="{{url_for('task-create')}}" method="POST">
          <input type="hidden" name="id_folder" value="{{ id_folder }}"/>
          <div class="modal-body">
            <div class="form-group">
              <label for="task_name">Task name</label>
              <input type="text" class="form-control" name="task_name" placeholder="Name..." required>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Add task</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </form>
        
      </div>
    </div>
  </div>